<div class="container mt-5 mb-5">
    <h2 class="ban bg-warning ali text-center">Nosotros</h2>
    <div class="card mb-3">
        <img src="../../assets/images/banner/nosotros/mision (1).png" class="card-img-top" alt="Misión">
        <div class="card-body">
          <h5 class="card-title">Misión</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus quis aliquam corrupti, deleniti quaerat et veniam cum laboriosam consequuntur perferendis alias totam laborum incidunt nisi ratione optio architecto pariatur delectus!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis repudiandae distinctio unde earum nostrum tempora debitis, magnam tempore itaque, sunt atque quaerat velit ut saepe? Sunt blanditiis porro accusamus nulla?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatem tenetur reiciendis qui ducimus exercitationem iure voluptate, officia hic, aspernatur porro, architecto quam? Possimus blanditiis ratione sed pariatur cum labore.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste sed sequi veniam, expedita, fugit hic adipisci voluptatem impedit libero, porro aperiam labore ratione recusandae laboriosam ducimus obcaecati quo consectetur possimus!
          </p>
          <p class="card-text"><small class="text-muted">Last updated 29 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, reprehenderit sint repudiandae perspiciatis fuga quasi cumque asperiores doloremque minus odit nihil saepe reiciendis, quibusdam sapiente dolore, qui voluptatibus impedit aliquam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo saepe fugit harum sapiente praesentium quae quos! Sint distinctio dolorum fugit molestiae, rerum similique at quo veniam accusamus cupiditate eos.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odit enim repellendus nulla ad laudantium ipsa doloremque minima labore quae blanditiis cum, perferendis sequi eos! Beatae aperiam repudiandae molestiae fugit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aperiam corporis, dolorem voluptates at ipsa deleniti molestias quaerat voluptas voluptatum? Consequuntur aperiam iste adipisci quibusdam rerum sit dolorem qui unde!
          </p>
          <p class="card-text"><small class="text-muted">Last updated 29 mins ago</small></p>
        </div>
        <img src="../../assets/images/banner/nosotros/vision (1).png" class="card-img-top" alt="Visión">
      </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container mt-10 mb-5">
  <h2 class="ban bg-warning ali text-center">Historia</h2>
  <img src="../../assets/images/banner/nosotros/historia.png" class="img-fluid" alt="Historia" title="Historia">
  <div class="card py-3 pl-3 pr-3">
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, reprehenderit sint repudiandae perspiciatis fuga quasi cumque asperiores doloremque minus odit nihil saepe reiciendis, quibusdam sapiente dolore, qui voluptatibus impedit aliquam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo saepe fugit harum sapiente praesentium quae quos! Sint distinctio dolorum fugit molestiae, rerum similique at quo veniam accusamus cupiditate eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odit enim repellendus nulla ad laudantium ipsa doloremque minima labore quae blanditiis cum, perferendis sequi eos! Beatae aperiam repudiandae molestiae fugit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aperiam corporis, dolorem voluptates at ipsa deleniti molestias quaerat voluptas voluptatum? Consequuntur aperiam iste adipisci quibusdam rerum sit dolorem qui unde!
    </p>
    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, reprehenderit sint repudiandae perspiciatis fuga quasi cumque asperiores doloremque minus odit nihil saepe reiciendis, quibusdam sapiente dolore, qui voluptatibus impedit aliquam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo saepe fugit harum sapiente praesentium quae quos! Sint distinctio dolorum fugit molestiae, rerum similique at quo veniam accusamus cupiditate eos.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odit enim repellendus nulla ad laudantium ipsa doloremque minima labore quae blanditiis cum, perferendis sequi eos! Beatae aperiam repudiandae molestiae fugit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aperiam corporis, dolorem voluptates at ipsa deleniti molestias quaerat voluptas voluptatum? Consequuntur aperiam iste adipisci quibusdam rerum sit dolorem qui unde!
    </p>
  </div>
</div>