<div class="text-center mt-5 mb-5">
  <form class="form-signin reg">
    <img
      class="mb-4"
      src="../../assets/images/icons/taglineCortado.png"
      alt="logo"
      width="80%"
      height="80%"
    />
    <h1 class="h3 mb-3 font-weight-normal">
      <font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;"
          >Por favor, registrese</font
        ></font
      >
    </h1>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Correo electronico"
      required=""
      autofocus=""
    />
    <input
      type="password"
      id="inputPassword"
      class="form-control mt-3"
      placeholder="Contraseña"
      required=""
    />
    <button
      class="btn btn-lg btn-primary btn-block mt-4"
      type="submit"
      style="background: #000000"
    >
      <font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Iniciar sesión</font></font
      >
    </button>
    <button class="btn btn-lg btn-warning btn-block" type="submit" [routerLink]="['/registro']">
      <font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">Registrarse</font></font
      >
    </button>
    <p class="mt-5 mb-3 text-muted">
      <font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">© 2019</font></font
      >
    </p>
  </form>
</div>
