<script type="text/javascript" src="js/jquery.maphilight.min.js"></script>
    
    <script src="JS/lokijs.js"></script>
    <script src="js/Map.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/db.js"></script>

    <script src="https://www.w3schools.com/lib/w3.js"></script>

<div class="container mt-5 mb-5">
    <h2 class="ban bg-warning ali text-center">Mapa de rutas</h2>
</div>
<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: --><!--<<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>-->

<script type="text/javascript">
  $(function () {
          $(".img-rutas").maphilight({ "strokeColor": "000000", "strokeWidth": 4, "fillColor": "ff0000", "fillOpacity": 1 });
          $('map area').click(function (e) {
              var parts = (e.currentTarget.attributes[4].nodeValue).split(":");
              document.getElementById("aux-pos").value = parts[0] + ":" + parts[1];
              e.preventDefault();                    

              var search = trunk.find({Name: parts[0]})[0];

              document.getElementById("troncal").style.display = "block";
              document.getElementById("btn-back").style.display = "none";

              document.getElementById("trunk-name").innerText = search.Stages[parts[1]].Name;
              document.getElementById("img-stage").src = search.Stages[parts[1]].url;
              document.getElementById("img-stage").alt = search.Stages[parts[1]].name;

              document.getElementById("show-troncal").style.display = "none";
              document.getElementById("show-stages").style.display = "inline-block";

              document.getElementById("title-troncal").innerText = search.Stages[parts[1]].name;

              var list1 = document.getElementById("list-routes-1");
              clearElement(list1);

              var list2 = document.getElementById("list-routes-2");
              clearElement(list2);


              for (var i = 0; i < search.Stages[parts[1]].Services.length; i++) {
                  var li = document.createElement("li");
                  li.innerText = search.Stages[parts[1]].Services[i].Id;

                  if (i < search.Stages[parts[1]].Services.length / 2) {
                      list1.appendChild(li);
                  }
                  else {
                      list2.appendChild(li);
                  }
              }
          });

          $('.button button').mouseover(function (e) {
              $('.mapping-' + this.id).mouseover();
          }).mouseout(function (e) {
              $('.mapping-' + this.id).mouseout();
          }).click(function (e) { e.preventDefault(); });

        
      });
</script>

<div class="global">
  <section class="map" id="map_id">
      <div class="corner"></div>
      <div class="corner2"></div>
      <h1>Conoce nuestras troncales</h1>
      <div class="container-search">
          <label>Por Estación</label>
          <input type="radio" name="type-search">
          <label>Por Troncal</label>
          <input type="radio" name="type-search" checked>
          <input type="text" placeholder="Parametro de Busqueda" id="parameter-search">
          <button onclick="search()">Buscar</button>
      </div>
      <div class="container-map" id="container_map">
          <img class="img-rutas" id="img-rutas" src="../../img/rutas_transmilenio_circle.jpg" 
          alt="Imagen de las rutas de transmilenio" usemap="#image-mapping"/>
          
          <map name="image-mapping">
              <!-- Troncal A -->
              <area shape="circle" alt="Calle 76" title="Calle 76" coords="305,122,5" href="Caracas:0" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Calle 72" title="Calle 72" coords="324,122,5" href="Caracas:1" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Flores" title="Flores" coords="337,122,5" href="Caracas:2" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Calle 63" title="Calle 63" coords="350,122,5" href="Caracas:3" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Calle 57" title="Calle 57" coords="364,122,5" href="Caracas:4" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Marly" title="Marly" coords="378,122,5" href="Caracas:5" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Calle 45" title="Calle 45" coords="393,122,5" href="Caracas:6" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="AV. 39" title="AV. 39" coords="407,122,5" href="Caracas:7" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Profamilia" title="Profamilia" coords="421,122,5" href="Caracas:8" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Calle 26" title="Calle 26" coords="435,123,5" href="Caracas:9" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Calle 22" title="Calle 22" coords="466,123,5" href="Caracas:10" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Calle 19" title="Calle 19" coords="478,123,5" href="Caracas:11" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="AV. Jiménez" title="AV. Jiménez" coords="497,122,5" href="Caracas:12" target="" class="mapping-btn-A"/>
              <area shape="circle" alt="Tercer Mileno" title="Tercer Mileno" coords="508,122,5" href="Caracas:13" target="" class="mapping-btn-A"/>
              <!-- Troncal B -->
              <area shape="circle" alt="Terminal" title="Terminal" coords="27,121,5" href="AutoNorte:0" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Calle 187" title="Calle 187" coords="52,121,5" href="AutoNorte:1" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Portal del Norte" title="Portal del Norte" coords="73,121,5" href="AutoNorte:2" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Toberín" title="Toberín" coords="88,121,5" href="AutoNorte:3" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Cardio Infantil" title="Cardio Infantil" coords="102,121,5" href="AutoNorte:4" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Mazurén" title="Mazurén" coords="115,121,5" href="AutoNorte:5" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Calle 146" title="Calle 146" coords="128,121,5" href="AutoNorte:6" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Calle 142" title="Calle 142" coords="143,121,5" href="AutoNorte:7" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Alcalá" title="Alcalá" coords="157,121,5" href="AutoNorte:8" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Prado" title="Prado" coords="171,121,5" href="AutoNorte:9" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Calle 127" title="Calle 127" coords="184,121,5" href="AutoNorte:10" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Pepe Sierra" title="Pepe Sierra" coords="198,121,5" href="AutoNorte:11" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Calle 106" title="Calle 106" coords="213,121,5" href="AutoNorte:12" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Calle 100" title="Calle 100" coords="225,121,5" href="AutoNorte:13" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Virrey" title="Virrey" coords="246,121,5" href="AutoNorte:14" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Calle 85" title="Calle 85" coords="260,121,5" href="AutoNorte:15" target="" class="mapping-btn-B"/>
              <area shape="circle" alt="Héroes" title="Héroes" coords="274,121,5" href="AutoNorte:16" target="" class="mapping-btn-B"/>
              <!-- Troncal C -->
              <area shape="circle" alt="Portal de Suba" title="Portal de Suba" coords="115,300,5" href="Suba:0" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="La Campiña" title="La Campiña" coords="114,287,5" href="Suba:1" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Suba - TV 91" title="Suba - TV 91" coords="114,272,5" href="Suba:2" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="21 Ángeles" title="21 Ángeles" coords="114,259,5" href="Suba:3" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Gratamira" title="Gratamira" coords="114,244,5" href="Suba:4" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Suba - AV. Boyacá" title="Suba - AV. Boyacá" coords="118,232,5" href="Suba:5" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Niza - CL 127" title="Niza - CL 127" coords="130,220,5" href="Suba:6" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Humedal Córdoba" title="Humedal Córdoba" coords="142,209,5" href="Suba:7" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Shaio" title="Shaio" coords="156,203,5" href="Suba:8" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Puentelargo" title="Puentelargo" coords="171,202,5" href="Suba:9" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Suba - CL 100" title="Suba - CL 100" coords="187,202,5" href="Suba:10" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Suba - CL 95" title="Suba - CL 95" coords="203,202,5" href="Suba:11" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="Rionegro" title="Rionegro" coords="220,202,5" href="Suba:12" target="" class="mapping-btn-C"/>
              <area shape="circle" alt="San Martín" title="San Martín" coords="234,202,5" href="Suba:13" target="" class="mapping-btn-C"/>
              <!-- Troncal D -->
              <area shape="circle" alt="Polo" title="Polo" coords="190,359,5" href="Calle_80:0" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Escuela Militar" title="Escuela Militar" coords="259,207,5" href="Calle_80:1" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Carrera 47" title="Carrera 47" coords="190,330,5" href="Calle_80:2" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Carrera 53" title="Carrera 53" coords="190,316,5" href="Calle_80:3" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Avenida 68" title="Avenida 68" coords="190,301,5" href="Calle_80:4" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Ferias" title="Ferias" coords="190,286,5" href="Calle_80:5" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Boyacá" title="Boyacá" coords="199,267,5" href="Calle_80:6" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Minuto de Dios" title="Minuto de Dios" coords="211,256,5" href="Calle_80:7" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Granja - Carrera 77" title="Granja - Carrera 77" coords="223,244,5" href="Calle_80:8" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Avenida Cali" title="Avenida Cali" coords="234,233,5" href="Calle_80:9" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Carrera 90" title="Carrera 90" coords="245,221,5" href="Calle_80:10" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Quirigua" title="Quirigua" coords="190,345,5" href="Calle_80:11" target="" class="mapping-btn-D"/>
              <area shape="circle" alt="Portal de la 80" title="Portal de la 80" coords="291,163,5" href="Calle_80:12" target="" class="mapping-btn-D"/>
              <!-- Troncal E -->
              <area shape="circle" alt="La Castellana" title="La Castellana" coords="239,163,5" href="NQS_Central:0" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Escuela Militar" title="Escuela Militar" coords="259,200,5" href="NQS_Central:1" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="NQS - Calle 75" title="NQS - Calle 75" coords="306,202,5" href="NQS_Central:2" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="AV. Chile" title="AV. Chile" coords="326,202,5" href="NQS_Central:3" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Simón Bolivar" title="Simón Bolivar" coords="344,202,5" href="NQS_Central:4" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Coliseo" title="Coliseo" coords="365,202,5" href="NQS_Central:5" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Campín - U. Antonio Nariño" title="Campín - U. Antonio Nariño" coords="384,202,5" href="NQS_Central:6" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="U. Nacional" title="U. Nacional" coords="402,203,5" href="NQS_Central:7" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="AV. El Dorado" title="AV. El Dorado" coords="423,202,5" href="NQS_Central:8" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="CAD" title="CAD" coords="462,202,5" href="NQS_Central:9" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Paloquemao" title="Paloquemao" coords="479,201,5" href="NQS_Central:10" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Ricaurte" title="Ricaurte" coords="497,201,5" href="NQS_Central:11" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Comuneros" title="Comuneros" coords="522,201,5" href="NQS_Central:12" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Guatoque - Veraguas" title="Guatoque - Veraguas" coords="522,173,5" href="NQS_Central:13" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Tygua - San José" title="Tygua - San José" coords="522,149,5" href="NQS_Central:14" target="" class="mapping-btn-E"/>
              <area shape="circle" alt="Bicentenario" title="Bicentenario" coords="522,69,5" href="NQS_Central:15" target="" class="mapping-btn-E"/>
              <!-- Troncal F -->
              <area shape="circle" alt="Portal de las Américas" title="Portal de las Américas" coords="590,380,5" href="Americas:0" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Patio Bonito" title="Patio Bonito" coords="571,381,5" href="Americas:1" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Biblioteca Tintal" title="Biblioteca Tintal" coords="554,379,5" href="Americas:2" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Transversal 86" title="Transversal 86" coords="552,364,5" href="Americas:3" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Banderas" title="Banderas" coords="552,346,5" href="Americas:4" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Mandalay" title="Mandalay" coords="545,330,5" href="Americas:5" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Mundo Aventura" title="Mundo Aventura" coords="533,319,5" href="Americas:6" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Marsella" title="Marsella" coords="522,307,5" href="Americas:7" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Pradera" title="Pradera" coords="510,294,5" href="Americas:8" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Américas - KR 53A" title="Américas - KR 53A" coords="497,282,5" href="Americas:9" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Puente Aranda" title="Puente Aranda" coords="491,238,5" href="Americas:10" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Carrera 43" title="Carrera 43" coords="490,266,5" href="Americas:11" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Zona Industrial" title="Zona Industrial" coords="490,252,5" href="Americas:12" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="CDS Carrera 32" title="CDS Carrera 32" coords="490,226,5" href="Americas:13" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="Ricaurte" title="Ricaurte" coords="490,201,5" href="Americas:14" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="San Facon - KR 22" title="San Facon - KR 22" coords="491,172,5" href="Americas:15" target="" class="mapping-btn-F"/>
              <area shape="circle" alt="De La Sabana" title="De La Sabana" coords="491,151,5" href="Americas:16" target="" class="mapping-btn-F"/>
              <!-- Troncal G -->
              <area shape="circle" alt="Comuneros" title="Comuneros" coords="527,201,4" href="NQS_Sur:0" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Santa Isabel" title="Santa Isabel" coords="542,201,4" href="NQS_Sur:1" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="SENA" title="SENA" coords="563,207,4" href="6:2" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="NQS - CL 30 S" title="NQS - CL 30 S" coords="575,218,4" href="NQS_Sur:3" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="NQS - CL 38A S" title="NQS - CL 38A S" coords="587,231,4" href="NQS_Sur:4" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="General Santander" title="General Santander" coords="599,242,4" href="NQS_Sur:5" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Alquería" title="Alquería" coords="605,250,4" href="NQS_Sur:6" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Venecia" title="Venecia" coords="605,260,4" href="NQS_Sur:7" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Sevillana" title="Sevillana" coords="606,276,4" href="NQS_Sur:8" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Madelena" title="Madelena" coords="606,293,4" href="NQS_Sur:9" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Perdomo" title="Perdomo" coords="606,309,4" href="NQS_Sur:10" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Portal del Sur" title="Portal del Sur" coords="606,326,4" href="NQS_Sur:11" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Bosa" title="Bosa" coords="620,352,4" href="NQS_Sur:12" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="La Despensa" title="La Despensa" coords="636,368,4" href="NQS_Sur:13" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="León XIII" title="León XIII" coords="651,383,4" href="NQS_Sur:14" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="Terreros - Hospital C.V." title="Terreros - Hospital C.V." coords="664,396,4" href="NQS_Sur:15" target="" class="mapping-btn-G"/>
              <area shape="circle" alt="San Mateo" title="San Mateo" coords="677,409,4" href="NQS_Sur:16" target="" class="mapping-btn-G"/>
              <!-- Troncal H -->
              <area shape="circle" alt="Portal del Tunal" title="Portal del Tunal" coords="685,252,4" href="Caracas_Sur_Tunal:2" target="" class="mapping-btn-H2"/>
              <area shape="circle" alt="Parqué" title="Parqué" coords="682,223,4" href="Caracas_Sur_Tunal:1" target="" class="mapping-btn-H2"/>
              <area shape="circle" alt="Biblioteca" title="Biblioteca" coords="670,211,4" href="Caracas_Sur_Tunal:0" target="" class="mapping-btn-H2"/>
              <area shape="circle" alt="Hospital" title="Hospital" coords="537,122,4" href="Caracas_Sur:0" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Hortúa" title="Hortúa" coords="550,122,4" href="Caracas_Sur:1" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Nariño" title="Nariño" coords="566,122,4" href="Caracas_Sur:2" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Fucha" title="Fucha" coords="583,125,4" href="Caracas_Sur:3" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Restrepo" title="Restrepo" coords="595,136,4" href="Caracas_Sur:4" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Olaya" title="Olaya" coords="608,149,4" href="Caracas_Sur:5" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Quiroga" title="Quiroga" coords="620,160,4" href="Caracas_Sur:6" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Calle 40 S." title="Calle 40 S." coords="632,173,4" href="Caracas_Sur:7"  target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Santa Lucía" title="Santa Lucía" coords="644,185,4" href="Caracas_Sur:8" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Socorro" title="Socorro" coords="669,193,4" href="Caracas_Sur:9" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Consuelo" title="Consuelo" coords="684,193,4" href="Caracas_Sur:10" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Molinos" title="Molinos" coords="701,193,4" href="Caracas_Sur:11" target="" class="mapping-btn-H"/>
              <area shape="circle" alt="Portal Usme" title="Portal Usme" coords="722,193,4" href="Caracas_Sur:12" target="" class="mapping-btn-H"/>
              <!-- Troncal J -->
              <area shape="circle" alt="AV. Jiménez" title="AV. Jiménez" coords="490,117,4" href="Eje_Ambiental:2" target="" class="mapping-btn-J"/>
              <area shape="circle" alt="Museo del Oro" title="Museo del Oro" coords="477,42,4" href="Eje_Ambiental:1" target="" class="mapping-btn-J"/>
              <area shape="circle" alt="Aguas" title="Aguas" coords="458,21,4" href="Eje_Ambiental:0" target="" class="mapping-btn-J"/>
              <!-- Troncal K -->
              <area shape="circle" alt="Portal Dorado" title="Portal Dorado" coords="384,412,4" href="Calle_26:0" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Modelia" title="Modelia" coords="384,391,4" href="Calle_26:1" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Normandía" title="Normandía" coords="384,374,4" href="Calle_26:2" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="AV. Rojas" title="AV. Rojas" coords="385,355,4" href="Calle_26:3" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="El Tiempo - Maloka" title="El Tiempo - Maloka" coords="385,338,4" href="Calle_26:4" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Salitre - El Greco" title="Salitre - El Greco" coords="384,319,4" href="Calle_26:5" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="CAN" title="CAN" coords="384,302,4" href="Calle_26:6" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Gobernación" title="Gobernación" coords="385,284,4" href="Calle_26:7" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Quinta Paredes" title="Quinta Paredes" coords="395,268,4" href="Calle_26:8" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Corferias" title="Corferias" coords="408,251,4" href="Calle_26:9" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Ciudad Universitaria" title="Ciudad Universitaria" coords="422,233,4" href="Calle_26:10" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Concejo de Bogotá" title="Concejo de Bogotá" coords="448,174,4" href="Calle_26:11" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Centro Memoria" title="Centro Memoria" coords="448,151,4" href="Calle_26:12" target="" class="mapping-btn-K"/>
              <area shape="circle" alt="Universidades" title="Universidades" coords="448,21,4" href="Calle_26:13" target="" class="mapping-btn-K"/>
              <!-- L -->
              <area shape="circle" alt="San Diego" title="San Diego" coords="456,69,4" href="Carrera_10:0" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="Las Nieves" title="Las Nieves" coords="476,70,4" href="Carrera_10:1" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="San Victorino" title="San Victorino" coords="497,69,4" href="Carrera_10:2" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="Bicentenario" title="Bicentenario" coords="528,69,4" href="Carrera_10:3" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="Hospitales" title="Hospitales" coords="545,69,4" href="Carrera_10:4" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="Policarpa" title="Policarpa" coords="561,69,4" href="Carrera_10:5" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="Ciudad Jardín - UAN" title="Ciudad Jardín - UAN" coords="578,69,4" href="Carrera_10:6" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="AV. 1 de Mayo" title="AV. 1 de Mayo" coords="596,69,4" href="Carrera_10:7" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="Country Sur" title="Country Sur" coords="613,69,4" href="Carrera_10:8" target="" class="mapping-btn-L"/>
              <area shape="circle" alt="Portal 20 de Julio" title="Portal 20 de Julio" coords="634,70,4" href="Carrera_10:9" target="" class="mapping-btn-L"/>
              <!-- Troncal M -->
              <area shape="circle" alt="Museo Nacional" title="Museo Nacional" coords="431,69,4" href="Carrera_7:0" target="" class="mapping-btn-M"/>
          </map>

          <div class="container-buttons show">
              <div class="button">
                  <button type="button" onclick="showTroncal('Caracas')" id="btn-A">A<span>Caracas</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('AutoNorte')" id="btn-B">B<span>Auto. Norte</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Suba')" id="btn-C">C<span>Suba</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Calle_80')" id="btn-D">D<span>Calle 80</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('NQS_Central')" id="btn-E">E<span>NQS Central</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Americas')" id="btn-F">F<span>Américas</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('NQS_Sur')" id="btn-G">G<span>NQS Sur</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Caracas_Sur')" id="btn-H">H<span>Caracas Sur</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Caracas_Sur_Tunal')" id="btn-H2">H<span>Caracas Sur</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Eje_Ambiental')" id="btn-J">J<span>Eje Ambiental</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Calle_26')" id="btn-K">K<span>Calle 26</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Carrera_10')" id="btn-L">L<span>Carrera Décima</span></button>
              </div>
              <div class="button">
                  <button type="button" onclick="showTroncal('Carrera_7')" id="btn-M">M<span>Carrera 7</span></button>
              </div>
              
          </div>
      </div>
      <div class="style-container" id="style_container">
          <section class="container-troncales" id="troncal">
              <button type="button" onclick="hideTroncal('troncal')"><i class="material-icons">close</i></button>
              <button type="button" id="btn-back" onclick="showTrunckAgain()"><img src="img/Iconos/baseline_arrow_back_black_36dp.png"></button>
              <h3 id="title-troncal">Caracas</h3>
              <input type="hidden" value="" id="aux-pos">
              <div id="show-troncal">
                  <div class="info-troncal">
                      <img id="img-troncal" src="img/Troncales/Suba.jpg" alt="Imagen relacionada con la estación">
                      <div>
                          <table>
                              <tr>
                                  <td>Inicio</td>
                                  <td id="start-trunk">Calle 76</td>
                              </tr>
                              <tr>
                                  <td>Fin</td>
                                  <td id="end-trunk">Tercer Milenio</td>
                              </tr>
                              <tr>
                                  <td>Longitud troncal</td>
                                  <td id="length-trunk">8.0 Km</td>
                              </tr>
                          </table>
                          <h4 id="trunk-name">Calle 76</h4>
                          <img id="trunk-image" src="img/Estaciones/caracas/Calle_76.jpg"
                              onclick="showStages()"><br>
                          <span>Click para más información de la estación</span>
                      </div>
                  </div>
                  <div class="line-time" id="line-timeID">
                      <img src="img/transmilenio.png" alt="Imagen de un transmilenio" id="img-bus">
                      <div></div>
                      <div id="line-time-buttons"></div>
                  </div>
              </div>
              <div id="show-stages">
                  <div>
                      <img id="img-stage" src="img/Estaciones/NQS_sur/San_Mateo.jpg">
                      <div>
                          <h4>Rutas</h4>
                          <div id="container-routes">
                              <div id="accordion1" class="ui-accordion">
                              </div>
                              <div id="accordion2" class="uis-accordion">
                              </div>  
                          </div>
                      </div>
                  </div>
                  <div>
                          <h3>Vagón: <label id="vagon"></label></h3>
                          <h4>Horario: </h4>
                          <ul id="horarios"></ul>
                  </div>
              
              
              
              </div>
             
          </section>
      </div>
      <p>Presionar el indicador de posición para ver las estaciones por troncal</p>
  </section>
</div>

