agm-map {
    height: 300px;
}

.ban {
    border-radius: 15px;
}

:root{
    --a-color: #00388b;
    --b-color: #98b833;
    --c-color: #eabf35;
    --d-color: #7b6da8;
    --e-color: #9c6b0c;
    --f-color: #b90715;
    --g-color: #3b9bd5;
    --h-color: #d98c00;
    --j-color: #d0a2ac;
    --k-color: #cbb17e;
    --l-color: #00959c;
    --m-color: #8a0079;
}
*{
    box-sizing: border-box;
}

.container-map{
    position: relative;
    display: flex;
}

.container-map .container-buttons{
    display: block;
    padding: 10px;
    perspective: 1000px;
}

.container-map.hide .container-buttons{
    display: none;
}

.container-map.hide #img-rutas{
    width: 200px;
}

.container-map #img-rutas{
    width: 750px;/*750*/
    height: 530px;
}

.container-map .container-buttons
.button{
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin: 0 0 5px 0;
}

.container-map .container-buttons
.button:active{
    opacity: 0.8;
    z-index: 4;
}

.container-map .container-buttons
.button button{
    width: 150px;
    height: 35px;
    font-size: 24px;
    font-weight: bold;
    background: lightgray;
    border-style: none;
    z-index: 2;
}

.container-map .container-buttons
.button button span{
    margin: 0 0 0 10px;
    display: none;
}

.container-map .container-buttons
.button button:hover span{
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
}

.container-map .container-buttons
.button button:hover span::before{
    content: '';
    width: 2px;
    height: 20px;
    background: white;
    position: absolute;
    top: -2px;
    left: -5px;
}

.container-map .container-buttons
.button #title{
    display: none;
    width: 120px;
    height: 40px;
    position: absolute;
    top: 8px;
    left: 35px;
    background: white;
    color: red;
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* Styles for A Button */
.container-map .container-buttons
.button:nth-child(1) button{
    background: var(--a-color);
    color: white;
}

/* Style for B Button */
.container-map .container-buttons
.button:nth-child(2) button{
    background: var(--b-color);
    color: white;
}

.container-map .container-buttons
.button:nth-child(2) #title{
    border: 5px solid var(--b-color);
}

/* Style for C Button */
.container-map .container-buttons
.button:nth-child(3) button{
    background: var(--c-color);
    color: white;
}

/* Style for D Button */
.container-map .container-buttons
.button:nth-child(4) button{
    background: var(--d-color);
    color: white;
}

/* Style for E Button */
.container-map .container-buttons
.button:nth-child(5) button{
    background: var(--e-color);
    color: white;
}

/* Style for F Button */
.container-map .container-buttons
.button:nth-child(6) button{
    background: var(--f-color);
    color: white;
}

/* Style for G Button */
.container-map .container-buttons
.button:nth-child(7) button{
    background: var(--g-color);
    color: white;
}

/* Style for H (Usme) Button */
.container-map .container-buttons
.button:nth-child(8) button{
    background: var(--h-color);
    color: white;
}

/* Style for H (Tunal) Button */
.container-map .container-buttons
.button:nth-child(9) button{
    background: var(--h-color);
    color: white;
}

/* Style for J Button */
.container-map .container-buttons
.button:nth-child(10) button{
    background: var(--j-color);
    color: white;
}

/* Style for K Button */
.container-map .container-buttons
.button:nth-child(11) button{
    background: var(--k-color);
    color: white;
}

/* Style for L Button */
.container-map .container-buttons
.button:nth-child(12) button{
    background: var(--l-color);
    color: white;
}

/* Style for M Button */
.container-map .container-buttons
.button:nth-child(13) button{
    background: var(--m-color);
    color: white;
}

/* Styles for pop-up troncales */
.style-container{
    width: 940px;
    position: absolute;
    background: white;
    top: 10%; 
    left: -10px;
    right: 0;
    margin: 0 auto;
    z-index: 5;
}

.style-container #show-stages{
    display: none;
}

.style-container #show-stages > div{
    display: flex;
}

.style-container #show-stages div > img{
    width: 65%;
    height: 65%;
    margin: 0 30px 0 20px;
}

.style-container #show-stages > div div h4{
    font-size: 20px;
}

.container-troncales{
    display: none;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px 1px lightgray;
    padding: 10px 10px 30px 10px;
}

.container-stages{
    display: block;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px 1px lightgray;
    padding: 10px 10px 30px 10px;
}

.container-troncales .info-troncal{
    display: grid;
    grid-template-areas: "a b";
}

.container-troncales .info-troncal div{
    grid-area: b;
    border: 1px solid black;
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding: 0 0 0 20px;
}

.container-troncales .info-troncal div img{
    width: 200px;
    margin: 0 0 20px 0;
}

.container-troncales .info-troncal #img-troncal{
    grid-area: a;
    justify-self: center;
    align-self: center;
    max-height: 300px;
    max-width: 450px;
}

/*.container-troncales .info-troncal #img-troncal:hover{
    max-height: 100%;
}*/

.container-troncales .info-troncal div h4{
    margin: 30px 0 10px 0;
    width: 200px;
    text-align: center;
}

.container-troncales > button{
    width: 40px;
    height: 40px;
    border: 5px;
    padding: 0;
    border-radius: 20px;
    border-style: double;
    border-color: white;
    color: white;
    background: red;
    position: absolute;
    top: -10px;
    right: -10px;
}

.container-troncales #btn-back{
    width: 40px;
    height: 40px;
    border: 5px;
    padding: 0;
    border-radius: 20px;
    border-style: double;
    border-color: white;
    color: white;
    background: lightgreen;
    position: absolute;
    top: -10px;
    left: -10px;
    display: none;
}

.container-troncales #btn-back img{
    width: 24px;
}

.container-troncales > button:hover{
    background: rgb(255, 97, 97);
}

.container-troncales > button:active{
    background: red;
}

.container-troncales #btn-back:hover{
    background: rgb(58, 204, 58);
}

.container-troncales #btn-back:active{
    background: lightgreen;
}

.container-troncales button i{
    color: white;
}

.container-troncales h3{
    font-size: 28px;
    position: relative;
}

.container-troncales h3::after{
    content: '';
    width: 90%;
    height: 1px;
    background: lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container-troncales .line-time{
    position: relative;
    height: 70px;
    margin: 30px 0 0 0;
}

.container-troncales .line-time >
div:nth-of-type(1){
    width: 900px;
    height: 15px;
    background: lightgray;
    border-radius: 8px;
    position: absolute; 
    bottom: 20px;
}

.container-troncales .line-time
img{
    width: 80px;
    position: absolute;
    top: 0;
}

.container-troncales .line-time > 
#line-time-buttons{
    width: 900px;
    position: absolute;
    bottom: -8px;
    left: 0px;
    display: grid;
    justify-items: center;  
}

.container-troncales .line-time > 
div:nth-of-type(2) div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-troncales .line-time > 
div:nth-of-type(2) div h2{
    font-size: 14px;
    margin: 5px 0 0 0;
    height: 15px;
    overflow: hidden;
    text-align: center;
}

.container-troncales .line-time
div:nth-of-type(2) button{
    width: 30px;
    height: 30px;
    padding: 0;
    border-style: none;
    border-radius: 15px;
    color: white;
    font-weight: 700px;
}

.container-troncales .line-time
div:nth-of-type(2) div:hover button{
    opacity: 0.5;
}

.container-troncales .line-time
div:nth-of-type(2) div button:active{
    opacity: 1;
}

.container-troncales .line-time
div:nth-of-type(2) button i{
    color: white;
}

/* Color buttons of time line*/
.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(1) button{
    background: var(--a-color);
}

.container-troncales .line-time >
div:nth-of-type(2) div:nth-of-type(2) button{
    background: var(--b-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(3) button{
    background: var(--c-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(4) button{
    background: var(--d-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(5) button{
    background: var(--e-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(6) button{
    background: var(--f-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(7) button{
    background: var(--g-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(8) button{
    background: var(--h-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(9) button{
    background: var(--j-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(10) button{
    background: var(--k-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(11) button{
    background: var(--l-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(12) button{
    background: var(--m-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(13) button{
    background: var(--a-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(14) button{
    background: var(--c-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(15) button{
    background: var(--e-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(16) button{
    background: var(--g-color);
}

.container-troncales .line-time
div:nth-of-type(2) div:nth-of-type(17) button{
    background: var(--j-color);
}

/* Animations */
@keyframes moveTitle{
    from{
        width: 0px;
    }
    to{
        width: 150px;
    }
}

@keyframes blink{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#container-map{
    background: red;
}

#container-routes{
    display: flex;
}

.container-search{
    width: 500px;
    margin: 0 auto;
}

.container-search input[type="text"]{
    width: 200px;
    height: 30px;
    padding: 5px;
}

.container-search button{
    height: 30px;
    margin: 0 0 0 20px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 0 0 5px 0;
  }
  
  .accordion:hover {
    background-color: #ccc;
  }

  .accordion:active{
      
    display: block;
    background: red;
  }
  
  .panel {
    display: none;
    padding: 0 18px;
    background-color: white;
    height: auto;
    transition: max-height 0.2s ease-out;
  }